<footer>
    <div class="topFooter">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="fristCol">
                    <div class="footerLogo">
                        <h2>logo <span>Here</span></h2>
                    </div>
                    <ul class="mt-4">
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> 102580 Santa Moniaca los angesles</li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>(+91)9853 000 020</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>info@gmail.com</li>
                    </ul>
                    <div>
                        <ul class="socialMedia">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li> 
                        </ul> 
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="secondCol">
                    <div class="heading">
                        <h4>Working time</h4>
                    </div>
                    <ul>
                        <li>monday to friday: 8:00am - 8:00pm</li>
                        <li>monday to friday: 8:00am - 8:00pm</li>                    
                    </ul>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                <div class="secondCol">
                    <div class="heading">
                        <h4>photo in flikr</h4>
                    </div>                
                    <ol>
                        <li><a href="#"><img src="../../../assets/images/product/1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../../assets/images/product/2.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../../assets/images/product/3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="../../../assets/images/product/4.jpg" alt=""></a></li>
                    </ol>
                </div> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="secondCol">
                        <div class="heading">
                            <h4>other info</h4>
                        </div>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
                    </div> 
                </div>
        </div>
    </div>
    </div>
    <div class="bottomFooter">
    <div class="container">
        <div class="bottomHeaderStart">
            <div class="row">
               <div class="col-lg-12 text-center">
                   <p>company name - Copyright @Copyright 2018  <span>All Rights Reserved</span></p>
               </div>          
            </div>
        </div>                    
    </div>
    </div>             
    </footer>