<header>
  <div class="topNav">
     <div class="container">
        <div class="row align-items-center">
           <div class="mr-auto loglink">
             Welcome to abcd. Click hare to <a href="#">Login</a> or <a href="#">Create an account</a>
           </div>
           <div class="ml-auto">
              <ul>
                 <li class="rightSls"><a href="#">Start Designing</a></li>
                 <li><a href="#">About us</a></li>
                 <li class="myCart"><a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i>My cart</a></li>
                 <!-- <li><a href="#">Contact Us</a></li> -->
              </ul>
           </div>
        </div>
     </div>
  </div>  
  <div class="bottomNav">
     <div class="container">
        <div class="row">
           <div class="col-lg-3 catagoryMedia">
              <div class="logo">
                 <h2>Logo <span>hare</span></h2>
              </div>
           </div>
           <div class="col-lg-9 col-md-12">                      
              <nav class="navMenu">
                 <ul>
                    <li><a href="#">Apparelu</a></li>
                    <li><a href="#">Home Decor</a></li>
                    <li><a href="#">Socks</a></li>
                    <li><a href="#">Gift Guide</a></li>
                    <li><a href="#">Phone Cases</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Love Socks</a></li>
                    <li><a href="#">Mugs</a></li>                           
                 </ul>
              </nav>
           </div>
        </div>
     </div>
  </div>
</header>  