<section class="bannerSection">
  <div class="container">
      <div class="row">
          <div class="col-lg-3">
              <div class="catogory">
                  <h4><a href="javascript:void(0)"><i class="fa fa-bars" aria-hidden="true"></i> category</a></h4>
                  <ul>  
                      <li><a href="#">age <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">family <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">hobbies <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">animals <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">locations <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">sports <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">entertainment <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">names <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">occations and event <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      <li><a href="#">more categories <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-9">
              <div class="bannerpart">  
                  <div class="banenrTxt">
                      <h4>full printing Services</h4>                            
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </p>
                      <div class="full">
                          <a href="#" class="btn bynow waves-effect waves-light">BYE NOW</a>
                      </div>
                  </div>
                  <div class="banner owl-carousel">
                    <div class="item"> 
                      <img src="../../../assets/images/banner/1.jpg">        
                    </div>
                    <div class="item"> 
                        <img src="../../../assets/images/banner/1.jpg">        
                    </div>
                    <div class="item"> 
                        <img src="../../../assets/images/banner/1.jpg">       
                    </div>   
                   </div> 
              </div>  
          </div>
      </div>
  </div>
  </section>