<section class="recommandation">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="iphoneCover mt-4">
                    <img src="../../../assets/images/product/differ-2.png" alt="">
                    <div class="textpart">
                        <h6>iPhone back cover</h6>                        
                    </div>
                </div>  
            </div>
            <div class="col-lg-9">
                <div class="recommandProduct">
                        <div class="productHeading mb-2">
                            <h2>Recommendations For You</h2>                                                  
                        </div>
                        <div class="carouselinner">
                            <!--Carousel Wrapper-->
                                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    
                                    <!--Controls-->
                                    <div class="controls-top">
                                        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                    <!--/.Controls-->                               
    
                                    <!--Slides-->
                                    <div class="carousel-inner" role="listbox">
    
                                        <!--First slide-->
                                        <div class="carousel-item active">
                                          <div class="row">
                                            <div class="col-md-4">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4 clearfix d-none d-md-block">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4 clearfix d-none d-md-block">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
                                          </div>
    
                                        </div>
                                        <!--/.First slide-->
    
                                        <!--Second slide-->
                                        <div class="carousel-item">
                                          <div class="row">
                                            <div class="col-md-4">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4 clearfix d-none d-md-block">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4 clearfix d-none d-md-block">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
                                          </div>
                                        </div>
                                        <!--/.Second slide-->
    
                                        <!--Third slide-->
                                        <div class="carousel-item">
                                          <div class="row">
                                            <div class="col-md-4">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
    
                                            <div class="col-md-4">
                                                <a href="#" class="productItem card text-center">
                                                    <div class="imgContainer">
                                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                                    <div class="persentIdicator">-60%</div>
                                                    </div>
                                                    <h6 class="card-title">I Need My Space</h6>
                                                    <div class="rating mb-1">
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </div>                                    
                                                    <h4 class="price mb-3">$120</h4>
                                                </a>
                                            </div>
                                          </div>
                                        </div>
                                        <!--/.Third slide-->
    
                                    </div>
                                    <!--/.Slides-->
    
                                </div>
                                <!--/.Carousel Wrapper-->
                        </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>