<section class="mainProductSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="smallCover">
                    <img src="../../../assets/images/product/s-1.jpg" alt="">
                    <div class="coverTxt">
                        <h2>It's Time To Do You.</h2>
                        <div class="full"><a href="javascript:void(0)" class="btn commonBtn1">Start Designing</a></div>
                    </div>
                </div>
                <div class="popularTimeline">                    
                    <h4 class="heading">popular items</h4>
                    <div class="timeLineProduct">
                        <div class="showProduct">
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <div class="imgContainer"><img src="../../../assets/images/product/t-2.jpg" alt=""></div>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Lorem Ipsum is simply </h3>
                                    <h4><span>$15.6</span> $12.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="showProduct">
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <div class="imgContainer"><img src="../../../assets/images/product/t-2.jpg" alt=""></div>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Lorem Ipsum is simply </h3>
                                    <h4><span>$15.6</span> $12.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="showProduct">
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <div class="imgContainer"><img src="../../../assets/images/product/t-2.jpg" alt=""></div>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Lorem Ipsum is simply </h3>
                                    <h4><span>$15.6</span> $12.5</h4>
                                </div>
                            </div>
                        </div>
                        <div class="showProduct">
                            <div class="row align-items-center">
                                <div class="col-sm-3">
                                    <div class="imgContainer"><img src="../../../assets/images/product/t-2.jpg" alt=""></div>
                                </div>
                                <div class="col-sm-9">
                                    <h3>Lorem Ipsum is simply </h3>
                                    <h4><span>$15.6</span> $12.5</h4>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>
                <div class="coffeeMugSec mt-4">
                    <img src="../../../assets/images/product/differ-1.png" alt="">
                    <div class="textpart">
                        <h6>Creative  design</h6>
                        <h2>coffee mug</h2>
                    </div>
                </div>                              
            </div>
            <div class="col-lg-9">
                <div class="featureSection">
                    <div class="productHeading mb-2">
                        <h2>New Arrivals</h2>                                                  
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                    <div class="imgContainer">
                                    <img src="../../../assets/images/product/t-2.jpg" alt="">
                                    </div>
                                    <h6 class="card-title">lorem ipsum</h6>
                                    <div class="rating mb-1">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>                                        
                                    <h4 class="price mb-3"><span>$10.99</span>$10</h4>
                                </a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                <div class="imgContainer">
                                <img src="../../../assets/images/product/t-2.jpg" alt="">
                                <div class="persentIdicator">-60%</div>
                                </div>
                                <h6 class="card-title">lorem ipsum</h6>
                                <div class="rating">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                
                                <h4 class="price mb-3">$120</h4>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                <div class="imgContainer">
                                <img src="../../../assets/images/product/t-2.jpg" alt="">
                                </div>
                                <h6 class="card-title">I Need My Space</h6>
                                <div class="rating mb-1">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>                                    
                                <h4 class="price mb-3">$120</h4>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                <div class="imgContainer">
                                <img src="../../../assets/images/product/t-2.jpg" alt="">
                                </div>
                                <h6 class="card-title">I Need My Space</h6>
                                <div class="rating mb-1">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>                                    
                                <h4 class="price mb-3">$120</h4>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                <div class="imgContainer">
                                <img src="../../../assets/images/product/t-2.jpg" alt="">
                                </div>
                                <h6 class="card-title">I Need My Space</h6>
                                <div class="rating mb-1">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>                                    
                                <h4 class="price mb-3">$120</h4>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <a href="#" class="productItem card text-center">
                                <div class="imgContainer">
                                <img src="../../../assets/images/product/t-2.jpg" alt="">
                                <div class="persentIdicator">-60%</div>
                                </div>
                                <h6 class="card-title">I Need My Space</h6>
                                <div class="rating mb-1">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>                                    
                                <h4 class="price mb-3">$120</h4>
                            </a>
                        </div>
                    </div> 

                </div>
                <div class="addsection">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="imgContainer blueOverlay">
                                <img src="../../../assets/images/add-product/1.jpg">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="imgContainer blueOverlay">
                                <img src="../../../assets/images/add-product/2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>